.marginstable {
    border: 1px solid;
    border-collapse: collapse;
    column-width: 10px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.marginstableheader {
    border: 1px solid;
}

.marginstablerightalign {
    border: 1px solid;
    text-align: right;
}

.marginstableleftalign {
    border: 1px solid;
}

/* Add the new code for column widths */

/* Set the width for the Cocktail column */
.marginstableheader:nth-child(1),
.marginstableleftalign:nth-child(1) {
    width: 200px; /* Adjust the width as needed */
}

/* Set the width for the Cost per Cocktail column */
.marginstableheader:nth-child(2),
.marginstablerightalign:nth-child(2) {
    width: 100px; /* Adjust the width as needed */
}

/* Add more rules for other columns if needed */
.marginstableheader:nth-child(3),
.marginstablerightalign:nth-child(3) {
    width: 100px; /* Adjust the width as needed */
}

.marginstableheader:nth-child(4),
.marginstablerightalign:nth-child(4) {
    width: 100px; /* Adjust the width as needed */
}
.marginstableheader:nth-child(5),
.marginstablerightalign:nth-child(5) {
    width: 100px; /* Adjust the width as needed */
}
